<div class="jumbotron text-center">
  <p>
    Use the options on this page to set an alert that will appear on the Home page.
  </p>
</div>
<!-- <div class="panel panel-default panel-primary">
  <div class="panel-heading">Standard Front Page Alerts</div>
  <div class="panel-body">
    <table class="table-responsive">
      <tr class="table table-row border">
        <td class="toggle-label col-md-10">
          <label class="toggle-label" for="charging-toggle">Return Charging Cables Alert</label>
        </td>
        <td class="toggle col-md-2">
          <label class="switch"><input type="checkbox" [(ngModel)]="cablesMessage"><span class="slider round"></span></label>
        </td>
      </tr>

      <tr class="table-row border">
        <td class="toggle-label col-md-10">
          <label class="toggle-label" for="charging-toggle">Charge Devices to 75% Before Returning</label>
        </td>
        <td class="toggle col-md-2">
          <label class="switch"><input type="checkbox" [(ngModel)]="chargeMessage"><span class="slider round"></span></label>
        </td>
      </tr>

      <tr class="table-row border">
        <td class="toggle-label col-md-10">
          <label class="toggle-label" for="charging-toggle">Uninstall Software Before Returning</label>
        </td>
        <td class="toggle col-md-2">
          <label class="switch"><input type="checkbox" [(ngModel)]="uninstallMessage"><span class="slider round"></span></label>
        </td>
      </tr>

      <tr class="table-row">
        <td class="toggle-label col-md-10">
          <label class="toggle-label" for="charging-toggle">Turn Devices Off Before Returning</label>
        </td>
        <td class="toggle col-md-2">
          <label class="switch"><input type="checkbox" [(ngModel)]="turnOffMessage"><span class="slider round"></span></label>
        </td>
      </tr>
    </table>
  </div>
</div> -->

<div class="panel panel-default panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Custom Alert</h3>
  </div>
  <div class="panel-body">
    <table>
      <tr class="table-row">
        <td class="toggle-label col-md-10">
          <label class="toggle-label" for="charging-toggle">Home Page Alert Message (off/on)</label>
        </td>
        <td class="toggle col-md-2">
          <label class="switch"><input type="checkbox" [(ngModel)]="alertFlag" (ngModelChange)="updateAlertFlag(alertFlag)"><span class="slider round"></span></label>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="panel panel-default panel-primary step" [class.show]="alertFlag===true">
  <div class="panel-heading">
    <h3 class="panel-title">Alter Custom Alert</h3>
  </div>
  <div class="panel-body">
    <form #newAlertMessageForm="ngForm" id="newAlertMessageForm" name="newAlertMessageForm">
      <div class="row alert-row">
        <div class="col"><label for="new-custom-alert-message">Current Message:</label></div>
        <div class="col"><textarea name="message" disabled rows="3" cols="50" [(ngModel)]="alertMessage">{{alertMessage}}</textarea></div>
      </div>
<br/>
      <div class="row alert-row">
        <div class="col"><label for="new-custom-alert-message">Message Input:</label>
        <div class="col"><textarea name="message" rows="3" name="new-custom-alert-message" id="new-custom-alert-message" placeholder="Enter a new message." cols="100" [(ngModel)]="newAlertMessage" maxlength="500" required></textarea></div>
        <button class="btn primary" [disabled]="!newAlertMessageForm.valid" (click)="updateAlertMessage(newAlertMessage)">Submit</button>
      </div>
    </div>
  </form>
</div>