/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffd464;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffd464;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.toggle-label {
    font-size: 24px;
    margin-right: 15px;
    width: 100%;
}

.toggle {
    padding-top: 10px;
}

.border {
    border-bottom: 1px solid gray;
}

.panel {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-color: #28589f;
}

.panel-heading {
  background-color: #28589f;
}

.jumbotron {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.jumbotron p {
    font-weight: bold;
    margin: 0;
}

textarea {
    resize: none;
    width: 100%;
}

.alert-row {
    margin-right: 5px;
    margin-left: 5px;
}

 .show{
opacity: 1 !important;
}

.step {
opacity: 0;
transition: .2s ease-in-out all;
} 
