<div class="panel warning">
  <div class="panel-heading">House Keeping Items - Please read these first!</div>
  <div class="panel-body">
    <ul>
      <li>
        Please charge a device to 75% or higher before returning it.
      </li>
      <li>
        Please remove any software you installed on the device. This is especially true for Windows Tablets as only one profile can
        have the OnBase app installed at one time. This means if you leave the OnBase app installed under your profile no
        one else will be able to install and use OnBase on that tablet!
      </li>
      <li>
        Please be sure to return any charging cables that you may have borrowed.
      </li>
      <li>
        Please only keep charging/data cables for as long as they are being used. We have a limited number of cables and they aren't
        useful to anyone when they are sitting on someone's desk not being used.
      </li>
      <li>
        Please turn the device off before you return it. There's no point for a device to be left on and consuming battery while
        it is sitting in the device storage cabinet.
      </li>
      <li>
        Please only keep a device for as long as it is being used. Many people need to test and develop with these devices and the
        list is growing higher every month as new mobile projects are created. So please, if you are not actively using a
        device please return it to the cabinets for someone else to use.
      </li>
    </ul>
  </div>
</div>

<div class="panel primary">
  <div class="panel-heading panel-toggle" data-toggle="collapse" data-target="#device-info" (click)="isCollapsed('deviceInfo')">General Device Inventory Information<span class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true" *ngIf="deviceToggle==true"></span>
    <span
      class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true" *ngIf="deviceToggle==false"></span>
  </div>
  <div class="panel-body collapse" id="device-info">
    <div class="question-container-first">
      <p class="question">Where are the devices kept?</p>
      <p class="answer">Devices are kept in two large, black cabinets in front of Dennis Sasinka's office.</p>
    </div>
    <div class="question-container">
      <p class="question">What types of devices are available?</p>
      <p class="answer">We have devices for most major operating systems including Android, iOS, and Windows. For Android and iOS we have both
        tablets and phones. For Windows we have Surface Tablets. We also have Kindle tablets.</p>
    </div>
    <div class="question-container">
      <p class="question">What about operating system versions?</p>
      <p class="answer">We try to keep a diverse selection of operating system versions to cover OnBase's supported versions. For instance
        iOS is supported on iOS 9 & 10 however with the release of iOS 11 this will likely change to iOS 10 & 11. So, for
        right now the majority of our iOS devices are on iOS 10 with a few remaining on iOS 9. After the major release from
        Apple many devices will be upgraded to iOS 11 (if they support it) and a few will be kept on iOS 10 for legacy support
        purposes.
      </p>
    </div>


  </div>
</div>

<div class="panel primary">
  <div class="panel-heading panel-toggle" data-toggle="collapse" data-target="#checkout-info" (click)="isCollapsed('checkoutInfo')">Checking Out and Returning a Device<span class="glyphicon glyphicon-chevron-down pull-right" aria-hidden="true" *ngIf="checkoutToggle==true"></span>
    <span
      class="glyphicon glyphicon-chevron-up pull-right" aria-hidden="true" *ngIf="checkoutToggle==false"></span>
  </div>
  <div class="panel-body collapse" id="checkout-info">
    <div class="question-container-first" id="checkout-info">
      <p class="question">Who can check out a device?</p>
      <p class="answer">Anyone who needs one, however if you are not a member of the mobile team we ask that you send a message to
        <a href="http://pages.onbase.net/EmployeeDirectory?user=dromel" target="_blank">Dave Romel</a> or <a href="http://pages.onbase.net/EmployeeDirectory?user=dbodi&"
          target="_blank">Derek Bodi</a> first as the mobile team is reliant on these devices for routine testing/development
        activites and we'd like to ensure we can be without the device for however long you may need it.</p>
    </div>
    <div class="question-container">
      <p class="question">How do I check out a device?</p>
      <div class="answer">
        <p>
          <span class="emphasis">For those on the mobile team</span> you can check what devices are available using the device
          list on the home page. Once you know what device you want you can go to the device cabinets to locate the device and use
          the checkout system on the tablet there to check the device out.
        </p>
        <p>
          <span class="emphasis">For those not on the mobile team</span> you can check what devices are available using the
          device list on the home page. Once you know what device you may need please send <a href="http://pages.onbase.net/EmployeeDirectory?user=dromel"
            target="_blank">Dave Romel</a> or <a href="http://pages.onbase.net/EmployeeDirectory?user=dbodi&" target="_blank">Derek Bodi</a>          a message with the device(s) you would like to borrow, the purpose you are borrowing them and how long you may
          need them.
        </p>

      </div>
    </div>
    <div class="question-container">
      <p class="question">How does the checkout tablet work?</p>
      <p class="answer">The tablet has an app on it that has two options, one to check out a device and another to return a device. When you
        select either option you will be presented with a barcode scanner. Aim the device camera at the asset barcode on
        the device and the number will be captured from the barcode. If you are checking a device out a dialog will be presented
        with additional information and will allow you to enter your name. Enter your name and select the check out button
        to check the device out. If you want to return a device select the return option and your name will be cleared from
        the device record.
      </p>
    </div>



  </div>
</div>