h1 {
    margin: 0;
}

.question {
    font-weight: bold;
    margin: 0;
}

.answer {
 padding-left: 10px;
}

.question-container {
    margin-top: 15px;
}

.emphasis {
    font-style: italic;
}

.panel {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    /* border-color: #ffd464; */
}

.panel-toggle {
    cursor: pointer;
}

.panel-body {
    background-color: white;
    color: black;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}