li>a:hover {
    background-color: #204780;
}

a:focus {
    background-color: #204780!important;
}

li:active {
    background-color: #204780;
}

.navbar-inverse {
    border-color: #204780!important;
}