    <nav class="navbar navbar-inverse primary ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Device Checkout</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a [routerLink]="'/'">Home</a></li>
            <li><a [routerLink]="'about'">About</a></li>
            <li><a [routerLink]="'add-device'">Add Device</a></li>
            <li><a [routerLink]="'history'">History</a></li>
            <li><a [routerLink]="'app-alert-manager'">Manage Alerts</a></li>
            <li><a href="mailto:derek.bodi@onbase.com?Subject=Comment%20About%20the%20Device%20Checkout%20Page">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>