.alert {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

h4 {
  font-weight: bold;
}

.alert-info {
   background-color: #ffd464; 
  /* background-color: #FFDE49; */
  color: black;
  width: 100%;
  height: 100%;
}

/* Using <pre> tag so new lines in messages returned from Firebase are formatted correctly */
pre {
  background-color: #ffd464;
  border: none;
  font-family: "Segoe UI","Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  font-size: 15px;
  padding: 0;
  margin: 0;
  white-space: normal;
  word-break: keep-all;
}
