<div *ngIf="alertFlag==true" class="alert alert-dismissible alert-info">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="text-center">Important!</h4>
  <pre>{{ alertMessage }}</pre>
</div>