<div class="d-flex flex-column">
  <div class="popularDevices panel primary">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-stats"></span>The Top Five Most Popular Devices</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let device of popularDevices">
        <span class="checkoutLabel label pull-right">Checked out {{ device.checkouts }} times</span> {{ device.name }}
      </li>
    </ul>
  </div>

  <div class="panel primary historySection">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>Device Checkout History</h3>
    </div>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let historyItem of historyInfo">
        <ng-container *ngIf="historyItem.action==='returned'">
          {{historyItem.name}} was {{ historyItem.action }} by {{ historyItem.borrower }} on {{ historyItem.lastmodified | date:'medium'}}
        </ng-container>
        <ng-container *ngIf="historyItem.action==='added'">
          {{historyItem.name}} was {{ historyItem.action }} to the testing device collection on {{ historyItem.lastmodified | date:'medium'}}
        </ng-container>
        <ng-container *ngIf="historyItem.action==='checked out'">
          {{historyItem.name}} was {{ historyItem.action }} by {{ historyItem.borrower }} on {{ historyItem.lastmodified | date:'medium'}}
        </ng-container>
      </li>
    </ul>

  </div>
</div>