.label-primary {
    font-size: 100%;
}

.checkoutLabel {
    color: black;
    font-size: 1.1em;
    font-weight: normal;
}

.panel-title {
    font-weight: bold;
}

.glyphicon {
    padding-right: 10px;
}

ul {
    overflow-y: auto;
    max-height: 500px;
}

li {
    color: black;
}

li:hover {
    background-color: #f5f5f5;
}

.panel {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.panel-primary {
    background-color: #28589f!important;
    border-color: #28589f;
}

