<div class="panel panel-default panel-primary">
  <div class="panel-heading">Add a Device</div>
  <div class="panel-body">
    <p class="form-instructions">All fields are required unless specified.</p>
    <form class="form" autocomplete="off" #addDeviceForm="ngForm" name="addDeviceForm" id="addDeviceForm">
      <div class="form-group">
        <label for="name">Device Name:</label>
        <input type="text" class="form-control" id="name" name="id" [(ngModel)]="name" maxlength="30" required placeholder="e.g. iPad Air 2">
      </div>
      
      <div class="form-group">
        <label for="assetNumber">Asset # (six digit number):</label>
        <input type="text" class="form-control" id="assetNumber" name="assetNumber" [(ngModel)]="assetNumber" autocomplete=off onPaste="return false" onKeyPress="if(this.value.length==6) return false;"
          placeholder="e.g. 206815" required>
      </div>

      <div class="form-group">
        <label for="deviceType">Device Type:</label>
        <select class="form-control" id="deviceType" name="deviceType" [(ngModel)]="deviceType" required>
          <option value="phone">Phone</option>
          <option value="tablet">Tablet</option>
        </select>

      </div>
      <div class="form-group">
        <label for="osType">OS Type:</label>
        <select class="form-control" id="osType" name="osType" [(ngModel)]="osType">
          <option value="iOS" >iOS</option>
          <option value="Android" >Android</option>
          <option value="Windows">Windows</option>
          <option value="Kindle">Kindle</option>
          <option value="Blackberry">Blackberry</option>
        </select>
      </div>

      <div class="form-group">
        <label for="osVersion">OS Version:</label>
        <input type="text" class="form-control" id="osVersion" name="osVersion" maxlength="15" autocomplete=off onPaste="return false" [(ngModel)]="osVersion" required placeholder="e.g. 7.1.1">
      </div>

      <div class="form-group">
        <label for="owner">Owner:</label>
        <input type="text" class="form-control" id="owner" name="owner" [(ngModel)]="owner" required placeholder="Who the device belongs to.">
      </div>
      <div class="form-group">
        <label for="provider">Cellular Provider:</label>
        <input type="text" class="form-control" id="provider" name="provider" [(ngModel)]="provider" placeholder="This field is optional.">
      </div>
      <div class="form-group">
        <label for="Note">Note:</label>
        <input type="text" class="form-control" id="note" name="note" [(ngModel)]="note" placeholder="This field is optional.">
      </div>
      <button class="btn btn-primary" (click)="addDevice(); addDeviceForm.reset()" [disabled]="!addDeviceForm.valid">Submit</button>
    </form>
  </div>
</div>