@media screen and (max-width: 990px) {
    .panel {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}

@media screen and (min-width: 990px) {
    .panel {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border-color: #204780;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.form-instructions {
    color: #F89406;
    padding-left: 10px;
    font-weight: bold;
}

.panel-heading {
  background-color: #28589f;
}

.btn-primary {
    background-color: #28589f;
    border-color: #28589f; 
}

.btn-primary:hover {

background-color: #204780;

}