<div class="modal fade" id="deviceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">


    <div class="modal-content" *ngIf="confirmationModalSwitch==false" [@flyInOut]>
      <div class="modal-header">
        <h3 class="modal-title text-center" id="exampleModalLabel">Device Details</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form>
          <div class="form-group" id="nameLabel">
            <label class="control-label" for="name">Name:</label>
            <input type="text" class="form-control" id="nameinput" name="name" [(ngModel)]="name" maxlength="25" value="{{name}}" placeholder="Enter a Device Name"
              required>
          </div>

          <div class="form-group" id="assetNumberLabel">
            <label class="control-label" for="assetNumberInput">Asset #:</label>
            <input type="text" class="form-control" id="assetNumberInput" name="assetNumber" [(ngModel)]="assetNumber" value="{{assetNumber}}"
              readonly>
          </div>

          <div class="form-group" id="deviceTypeLabel">
            <label class="control-label" for="deviceTypeInput">Device Type:</label>
            <input type="text" class="form-control" id="deviceTypeInput" name="deviceType" [(ngModel)]="deviceType" capitalize value="{{deviceType}}">
          </div>

          <div class="form-group" id="osTypeLabel">
            <label class="control-label" for="osTypeInput">OS Type:</label>
            <select type="text" class="form-control" id="osTypeInput" name="osType" [(ngModel)]="osType" value="{{ostype}}">
              <option value="iOS">iOS</option>
              <option value="Android">Android</option>
              <option value="Windows">Windows</option>
              <option value="Kindle">Kindle</option>
              <option value="Blackberry">Blackberry</option>
              </select>
          </div>

          <div class="form-group" id="osVersionLabel">
            <label class="control-label" for="osVersionInput">OS Version:</label>
            <input type="text" class="form-control" id="osVersionInput" name="osVersion" [(ngModel)]="osVersion" value="{{osVersion}}">
          </div>

          <div class="form-group" id="providerLabel">
            <label class="control-label" for="providerInput">Cellular Provider:</label>
            <input type="text" class="form-control" id="providerInput" name="provider" [(ngModel)]="provider" value="{{provider}}">
          </div>

          <div class="form-group" id="ownerLabel">
            <label class="control-label" for="ownerInput">Owner:</label>
            <input type="text" class="form-control" id="ownerInput" name="owner" [(ngModel)]="owner" value="{{owner}}">
          </div>

          <div class="form-group" id="borrowerLabel">
            <label class="control-label" for="borrowerInput">Borrower:</label>
            <input type="text" class="form-control" id="borrowerInput" name="borrower" [(ngModel)]="borrower" value="{{borrower}}" readonly>
          </div>

          <div class="form-group" id="lastModifiedLabel">
            <label class="control-label" for="lastModifiedInput">Last Modified:</label>
            <input type="text" class="form-control" id="lastModifiedInput" name="lastModified" value="{{ lastModified | date:'medium' }}"
              readonly>
          </div>

          <div class="form-group" id="noteLabel">
            <label class="control-label" for="noteInput">Note:</label>
            <input type="text" class="form-control" id="noteInput" name="note" [(ngModel)]="note" maxlength="100" value="{{ note }}">
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn warning pull-left" data-target="#deleteModal" data-toggle="modal" (click)="deleteInProgress(true)">Delete Device</button>
        <button type="button" class="btn primary" (click)="updateDevice()" data-dismiss="modal">Save changes</button>
      </div>
    </div>

    <div class="modal-content" *ngIf="confirmationModalSwitch==true" [@flyInOut]>
      <div class="modal-header">
        <h3 class="modal-title text-center">Delete Device</h3>
      </div>
      <div class="modal-body">
        <p>You're about to permanently delete a device record. Are you sure you want to do this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn primary" data-target="#deviceModal" data-backdrop="static" data-keyboard="false" (click)="deleteInProgress(false)">No, I'm not.</button>
        <button type="button" class="btn warning" data-target="#deleteModal" data-backdrop="static" data-keyboard="false" data-dismiss="modal"
          (click)="deleteDevice()">Yes, I'm sure.</button>
      </div>
    </div>

  </div>
</div>

<!-- This is code for the original delete confirmation however-->
<!-- I decided it was better to reuse the same modal rather than try to wrestle with multiple modals -->

<!-- Delete Confirmation Modal -->
<!-- <div class="modal fade" id="deleteModal" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete Device</h4>
      </div>
      <div class="modal-body">
        <p>You're about to permanently delete a device record. Are you sure you want to do this?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn primary" data-target="#deviceModal" data-dismiss="modal" (click)="deviceModal">No, I'm not.</button>
        <button type="button" class="btn warning" data-target="#deleteModal" data-dismiss="modal" (click)="deleteDevice()">Yes, I'm sure.</button>
      </div>
    </div>
  </div>
</div> -->