/* You can add global styles to this file, and also import other style files */
html {
  width: 100%;
}

body {
  width: 100%;
  padding: 0!important;
}

.btn-danger {
  background-color: #96281B;
  border-color: #96281B;
}

.btn-danger:hover {
background-color: #96285B;
border-color: #96285B;
}

.primary {
  background-color: #28589f;
  /* background-color: #074354; */
  /* background-color: #292E40; */
  color: white;
}

.warning {
  background-color: #ffd464;
  color: black;
}

.panel-heading {
  font-weight: bold;
}

.btn.primary:hover {
  background-color: #204780;
}

.btn.warning:hover {
  background-color: #ddb857;
  color: black;
}

[hidden] { display: none !important;}

