i {
    padding-right: 1vw;
}

.jumbo-heading {
  margin-top: 0;
}

h2 {
  font-size: 3em;
}

.table-row {
  background-color: white;
}

.row {
  background-color: lightgray;
}

.table {
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);   */
  margin-bottom: 0;
  border-collapse: separate;
  border-spacing: 0px;
  /* border: thin solid #28589f!important;  */
  /* https://stackoverflow.com/questions/18852503/overlapping-table-element-left-and-right-border */
}

tr {
  border-collapse: collapse;
}

thead {
  background-color: #E6E6E6;
}

.jumbotron {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.clickable {
  cursor: pointer;
}

.glyphicon {
  padding-left: 5px;
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0px solid #dddddd;
}

.table-wrapper {
   /* overflow: hidden;  */
    /* overflow-y: auto; */
   /* max-height: 420px;  */
   margin-bottom: 20px;
  border: thin solid #28589f!important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.deviceType {
  text-transform: capitalize;
}