<app-alert-message></app-alert-message>
<div class="jumbotron text-center">
  <h2 class="jumbo-heading">Search for a Device</h2>
  <input type="search" id="deviceSearchField" name="searchText" [(ngModel)]="searchText" class="form-control" placeholder="Search (includes asset # and notes)"
  />
</div>

<div class="table-wrapper">
  <table class="table table-hover table-responsive">
    <thead>
      <tr class="table-header primary">
        <th class="col-md-3 clickable" (click)="sortDeviceTable('name')">Name<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentSortDirection==='desc' && currentSortType==='name'"></span>
          <span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentSortDirection==='asc' && currentSortType==='name'"></span>
        </th>
        <th class="col-md-2 clickable" (click)="sortDeviceTable('devicetype')">Device Type<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentSortDirection==='desc' && currentSortType==='devicetype'"></span>
          <span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentSortDirection==='asc' && currentSortType==='devicetype'"></span>
        </th>
        <th class="col-md-2 clickable" (click)="sortDeviceTable('ostype')">OS Type<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentSortDirection==='desc' && currentSortType==='ostype'"></span>
          <span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentSortDirection==='asc' && currentSortType==='ostype'"></span>
        </th>
        <th class="col-md-2 clickable" (click)="sortDeviceTable('osversion')">OS Version<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentSortDirection==='desc' && currentSortType==='osversion'"></span>
          <span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentSortDirection==='asc' && currentSortType==='osversion'"></span>
        </th>
        <th class="col-md-3 clickable" (click)="sortDeviceTable('borrower')">Borrower<span class="glyphicon glyphicon-sort-by-attributes" *ngIf="currentSortDirection==='desc' && currentSortType==='borrower'"></span>
          <span class="glyphicon glyphicon-sort-by-attributes-alt" *ngIf="currentSortDirection==='asc' && currentSortType==='borrower'"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let device of deviceInfo">
        <tr data-target="#deviceModal" data-backdrop="static" data-keyboard="false" data-toggle="modal" class="table-row clickable" title="{{ device.note }}" *ngIf="searchValue(device,searchText)"
          (click)="deviceModal.fillFormDetail(device)">
          <td class="col-md-3 deviceName">{{ device.name }}</td>
          <td class="col-md-2 deviceType">{{ device.devicetype}}</td>
          <td class="col-md-2 osType">{{ device.ostype }}</td>
          <td class="col-md-2 osVersion">{{ device.osversion }}</td>
          <td class="col-md-3 borrower">{{ device.borrower }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>

<!-- Investigated adding paging but ultimately decided it probably wasn't worth it -->
<!-- <div class="pager">
  <ul class="pagination">
    <li><span class="pageButton clickable">First</span></li> 
    <li *ngFor="let page of pageDisplay"><span class="pageButton clickable">{{ page }}</span></li>
      <li><span class="pageButton clickable">2</span></li>
    <li><span class="pageButton clickable">3</span></li>
    <li><span class="pageButton clickable">4</span></li>
    <li><span class="pageButton clickable">5</span></li> 
    <li><span class="pageButton clickable">Last</span></li> 
  </ul>
</div> -->

<device-detail #deviceModal></device-detail>
<!-- <app-delete-modal #deleteModal></app-delete-modal> -->